.profile__image {
    min-height: 120px;
    width: 120px;
    background-image: url("../../../images/avatar-image.jpg");
    background-size: cover;
    border-radius: 60px;
    margin-right: 30px;
}

@media (max-width: 1023px) {
    .profile__image {
        margin-right: 0;
        margin-bottom: 26px;
    }
}