.popup__close-button {
    min-width: 32px;
    min-height: 32px;
    padding: 0;
    border: 0;
    background-color: transparent;
    background-size: cover;
    background-image: url("../../../images/close-button.svg");
    transform: translate(calc((430px + 32px)/2 + 8px), -8px);
    transition: opacity 0.3s ease;
}

@media (max-width: 767px) {
    .popup__close-button {
        min-width: 20px;
        min-height: 20px;
        transform: translate(calc((282px - 20px)/2), -16px);
    }
}

.popup__close-button:hover {
    opacity: 0.6;
}